<div style="margin-top:30px; "></div>
<div class="container mapping">

	<div class="row">
		<div class="col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">首页</a></li>
				<li><a href="#/user/device">我的设备</a></li>
				<li class="active">设备详情</li>
			</ol>
		</div>
	</div>

	<div class="row" style="margin-top: 10px;">
		<div class="col-sm-12">
			<div class="bs-example bs-example-tabs" >
				<ul id="domainTabs" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href=""  ng-click="selectTab(1)" role="tab" data-toggle="tab">基础信息</a></li>
					<li role="presentation" class=""><a href="" ng-click="selectTab(2)" role="tab" data-toggle="tab">设备域名</a></li>
					<li role="presentation" class=""><a href="" ng-click="selectTab(3)" role="tab" data-toggle="tab">设备端口</a></li>
					<li role="presentation" class=""><a href="" ng-click="selectTab(4)" role="tab" data-toggle="tab">设备端到端 <span class="label label-success" style="background-color: orangered;">免流量费</span></a>
					</li>

					<li class="navbar-right" ng-show="tab === 2"><a href="" ng-click="bindDomainDialog(deviceInfo, 2)" style="color: #d20c0c; font-weight: bold" >绑定域名</a></li>
					<li class="navbar-right" ng-show="tab === 3"><a href="" ng-click="bindDomainDialog(deviceInfo, 1)" style="color: #d20c0c; font-weight: bold" >绑定端口</a></li>
					<li class="navbar-right" ng-show="tab === 4"><a href="" ng-click="createP2pMapping()" style="color: #d20c0c; font-weight: bold" >创建端到端</a></li>
				</ul>

				<div class="tab-content" style="padding: 20px">
					<!-- 自定义的域名 -->
					<div role="tabpanel" class="tab-pane " ng-class="{active: isSelected(1)}">
						<div class="row" style="margin-top: 10px;">
							<div class="col-sm-9">
								<div class="row">
									<div class="col-xs-3">
										<div class="item-server">
											<i class="fa fa-server item-icon"></i>
											<span class="item-status label-success" ng-if="deviceInfo.status == 1"></span>
											<span class="item-status label-default" ng-if="deviceInfo.status != 1"></span>
										</div>
									</div>
									<div class="col-xs-9" >
										<div class="row">
											<div class="col-sm-6 ">别名：{{deviceInfo.name}}</div>
											<div class="col-sm-6 ">编码：{{deviceInfo.deviceNo}}</div>
										</div>
										<div class="row">
											<div class="col-sm-6">地址：{{deviceInfo.intranetIp}}</div>
											<div class="col-sm-6">MAC：{{deviceInfo.macAddr}}</div>
										</div>
										<div class="row">
											<div class="col-sm-6">版本：{{deviceInfo.clientVersion}}</div>
											<div class="col-sm-6">系统：{{deviceInfo.os +'_'+deviceInfo.arch}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<a class="btn btn-default" ng-click="delDevice(deviceInfo)">解绑设备</a>
								<a class="btn btn-default" ng-click="editDevice(deviceInfo)">编辑设备</a>
								<!-- 			<a href="#/user/device/{{deviceInfo.id}}/mapping/1/log" class="btn btn-default">实时日志</a> -->
								<a class="btn btn-default" ng-click="sendMigicWolDevice(deviceInfo)">网络唤醒</a>
								<a class="btn btn-default" ng-click="openDeviceDoorDialog(deviceInfo)">任意门</a>
								<a class="btn btn-default" ng-click="openDeviceProxyDialog(deviceInfo)">内网代理</a>
								<a class="btn btn-default" ng-click="openWhiteIpsDialog(deviceInfo)">IP白名单</a>
								<a class="btn btn-default" ng-click="checkUpdate(deviceInfo)">检查更新</a>
								<a class="btn btn-default" ng-click="deviceScan(deviceInfo)">扫描服务清单</a>
							</div>
						</div>

						<hr>

						<div class="row device-feature">
							<div class="col-md-3">
								<div class="mapping-feature-item">
									<h5>线路 <a href ng-click="switchLineDialog()">切换</a></h5>
									<p>
										<span class="label label-info">{{deviceInfo.broadband}}Mbps</span>
									</p>
								</div>
							</div>
							<!--		<div class="col-md-2 col-xs-6">-->
							<!--			<div class="mapping-feature-item">-->
							<!--				<h5>并发连接 <a href ng-click="upgradeConnect()">升级</a></h5>-->
							<!--				<p><span class="label label-info">{{deviceInfo.concurrentNum}}个</span> </p>-->
							<!--			</div>-->
							<!--		</div>-->
							<div class="col-md-3 col-xs-6">
								<div class="mapping-feature-item">
									<h5>公网IP</h5>
									<p>{{deviceInfo.publicIp}}</p>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="mapping-feature-item">
									<h5>域名</h5>
									<p>{{features.domainCount}}个</p>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="mapping-feature-item">
									<h5>端口</h5>
									<p>{{features.portCount}}个</p>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="mapping-feature-item">
									<h5>端到端</h5>
									<p>{{features.p2pCount}}个</p>
								</div>
							</div>
						</div>


						<hr>

					</div>
					<div role="tabpanel" class="tab-pane " ng-class="{active: isSelected(2)}">

						<table class="table table-hover">
							<thead>
							<tr>
								<th width="36">序号</th>
								<th width="140">域名地址</th>
								<th width="140">内网地址</th>
								<th width="60">宽带峰值</th>
								<th width="60">最大并发</th>
								<th width="60">今日流量</th>
								<th width="35">状态</th>
								<th width="120">备注</th>
								<th width="100">操作</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="item in domainList">
								<td>{{$index+1}}</td>
								<td>
									<a target="_blank" href="{{item.url}}">{{item.url}}</a>
								</td>
								<td>
									<span ng-if="item.protocol == 1 || item.protocol == 3 || item.protocol == 4 ">{{item.host}}:{{item.port}}</span>
								</td>
								<td>{{item.bandwidth}}Mbps</td>
								<td>{{item.concurrentNum}}</td>
								<td>{{item.todayFlow}}</td>
								<td>
									<span class="label label-success" ng-if="item.status == 1">启用</span>
									<span class="" ng-if="item.status != 1"> - </span>
								</td>
								<td>{{item.description}}</td>
								<td>
									<a ng-click="addMapping(item,2)" class="btn btn-info">编辑</a>
									<a ng-click="delMapping(item.id, $index)" class="btn btn-default">删除</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane " ng-class="{active: isSelected(3)}">
						<table class="table table-hover">
							<thead>
							<tr>
								<th width="36">序号</th>
								<th width="140">外网地址</th>
								<th width="140">内网地址</th>
								<th width="60">宽带峰值</th>
								<th width="60">最大并发</th>
								<th width="60">今日流量</th>
								<th width="35">状态</th>
								<th width="120">备注</th>
								<th width="100">操作</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="item in portList">
								<td>{{$index+1}}</td>
								<td><span ng-bind="item.url"></span></td>
								<td>
									<span ng-if="item.protocol == 2">tcp://{{item.host}}:{{item.port}}</span>
									<span ng-if="item.protocol == 5">udp://{{item.host}}:{{item.port}}</span>
								</td>
								<td>{{item.bandwidth}}Mbps</td>
								<td>{{item.concurrentNum}}</td>
								<td>{{item.todayFlow}}</td>
								<td>
									<span class="label label-success" ng-if="item.status == 1">启用</span>
									<span class="" ng-if="item.status != 1"> - </span>
								</td>
								<td>{{item.description}}</td>
								<td>
									<a ng-click="addMapping(item, 1)" class="btn btn-info">编辑</a>
									<a ng-click="delMapping(item.id, $index)" class="btn btn-default">解绑</a>
								</td>
							</tr>
							</tbody>
						</table>

					</div>
					<div role="tabpanel" class="tab-pane " ng-class="{active: isSelected(4)}">
						<table class="table table-hover">
							<thead>
							<tr>
								<th width="60">#</th>
								<th width="400">服务模型</th>
								<th width="80">状态</th>
								<th width="165">操作时间</th>
								<th width="200">备注</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="item in p2pList">
								<th scope="row">{{$index + 1}}</th>
								<td>
									s:<span class="label label-default">{{item.serverDeviceNo}}:{{item.serverLocalPort}}</span>
									<br>
									c:<span  class="label label-info">{{item.clientDeviceNo}}:{{item.clientProxyPort}}</span> <span class="label label-success" >内网隔离</span>
								</td>
								<td>
									<span ng-if="item.status == 1" class="label label-success">{{item.statusName}}</span>
									<span ng-if="item.status != 1" class="label label-default">{{item.statusName}}</span>
								</td>
								<td>{{item.updateTime}}</td>
								<td>{{item.remark}} </td>
								<td>
									<a href ng-click="createP2pMapping(item.id)">编辑</a>
									<a href ng-click="deleteP2pMapping(item.id)">删除</a>
								</td>
							</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>
	</div>







</div>




<!-- 编辑端口弹出框 -->
<div id="addMapping" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">编辑端口映射</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">

					<div class="form-group">
						<label for="b" class="col-sm-2 control-label">协议</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="entity.protocol" >
								<option value="1" ng-if="entity.type == 2">HTTP</option>
								<option value="3" ng-if="entity.type == 2">HTTPS</option>
								<option value="4" ng-if="entity.type == 2">HTTP/HTTPS</option>
								<option value="2" ng-if="entity.type == 1">TCP</option>
								<option value="5" ng-if="entity.type == 1">UDP</option>
							</select>
						</div>
						<div class="col-sm-4"></div>
					</div>
                    <div class="form-group" ng-show="entity.protocol == 1 || entity.protocol == 3|| entity.protocol == 4">
                        <label for="b" class="col-sm-2 control-label">绑定域名</label>
                        <div class="col-sm-6">
							<select class="form-control" ng-model="entity.userDomainId" ng-options="item.id as item.name + (item.bind?'<已绑定>':'') for item in userDomainList">
								<option value="">======= 不绑定 =======</option>
							</select>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group" >
                        <label for="b" class="col-sm-2 control-label" >平台域名</label>
                        <div class="col-sm-6">
                            <div>
                                <input ng-model="entity.domain" type="text" class="form-control"
                                        ng-show="entity.id"  readonly>
                                <input ng-model="entity.domain" type="text" class="form-control"
                                       ng-show="!entity.id" readonly>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
					<div class="form-group">
						<label for="b" class="col-sm-2 control-label">内网Host</label>
						<div class="col-sm-6">
							<input type="text" ng-model="entity.host"  class="form-control" placeholder="">
						</div>
                        <div class="col-sm-4"></div>
					</div>
					<div class="form-group">
						<label for="b" class="col-sm-2 control-label">Host端口</label>
						<div class="col-sm-6">
							<input type="number" ng-model="entity.port"  class="form-control" id="b" placeholder="">
						</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="form-group" ng-show="entity.protocol == 111 ">
						<label for="b" class="col-sm-2 control-label">远端端口</label>
						<div class="col-sm-6">
							<input type="number" ng-model="entity.remotePort" readonly class="form-control" placeholder="">
						</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="form-group" ng-show="entity.protocol == 1 || entity.protocol == 3 || entity.protocol == 4">
						<label for="b" class="col-sm-2 control-label">简单认证</label>
						<div class="col-sm-6">
							<input type="text" ng-model="entity.auth"  class="form-control" placeholder="user:password">
						</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="form-group">
						<label for="b" class="col-sm-2 control-label">备注</label>
						<div class="col-sm-6">
                            <textarea class="form-control" ng-model="entity.description" rows="3"></textarea>
						</div>
                        <div class="col-sm-4"></div>
					</div>
                    <div class="form-group">
                        <label for="stautsCheckbox" class="col-sm-2 control-label" >状态</label>
                        <div class="col-sm-10">
                            <div class="switch">
                                <input id="stautsCheckbox" type="checkbox" checked />
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <a ng-click="save()" class="btn btn-default">保 存</a>
                <a ng-click="exit()"  class="btn btn-default">取消</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<!-- 绑定域名弹框 -->
<div id="bindDomainDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">绑定域名/端口</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">域名/端口</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="selectDomainId" ng-options="item.id as item.domainFull for item in domainNoBindList">

							</select>
						</div>
						<div class="col-sm-4">

						</div>
					</div>
				</form>
                <p>
                </p>
			</div>
			<div class="modal-footer">
                <a href="#/user/domain/buy" class="btn btn-info">没有？去购买资源</a>
				<a ng-click="deviceBindDomain()" class="btn btn-success">确认绑定</a>
				<a ng-click="closeBindDomain()"  class="btn btn-default">取消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- 切换线路弹框 -->
<div id="switchLineDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">切换通道线路</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">通道</label>
						<div class="col-sm-8">
							<select class="form-control" ng-model="selectTunnelId" ng-options="item.id as item.name+'('+item.broadband+'MB) '+item.serverAddr for item in list">

							</select>
							<br/>
							<br/>
							<p>注意：切换通道线路需要设备没有绑定域名</p>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<a ng-click="switchLine()" class="btn btn-default">确认切换</a>
				<a ng-click="closeSwitchLine()"  class="btn btn-default">取消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 删除弹出框确认 -->
<div id="delDevice" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">消息提示</h4>
			</div>
			<div class="modal-body">
				确定要解绑该设备？<br/><br/>

				<p><span class="label label-warning">注意：解绑后，自动删除所有映射！</span></p>
			</div>
			<div class="modal-footer">
				<a ng-click="confirmDeleteDevice()" class="btn btn-default">确 定</a>
				<a class="btn btn-default" data-dismiss="modal">取 消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<!-- 编辑弹出框 -->
<div id="editDevice" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">编辑设备</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal">
					<div class="form-group">
						<label for="deviceName" class="col-sm-2 control-label">设备名称</label>
						<div class="col-sm-6">
							<input id="deviceName" type="text" ng-model="deviceUpdate.name" class="form-control" placeholder="名称">
						</div>
						<div class="col-sm-4">

						</div>
					</div>
					<div class="form-group">
						<label for="b" class="col-sm-2 control-label">设备标识</label>
						<div class="col-sm-6">
							<input type="text" ng-model="deviceInfo.deviceNo"  class="form-control"   placeholder="设备设备标识" readonly>
						</div>

						<div class="col-sm-4">
							<!--<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>-->
						</div>
					</div>
					<div class="form-group">
						<label for="d" class="col-sm-2 control-label">设备IP</label>
						<div class="col-sm-6">
							<input type="text" ng-model="deviceInfo.intranetIp" ng-readonly=""  class="form-control"  id="d" placeholder="设备无IP" readonly>
						</div>

						<div class="col-sm-4">
							<!--<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>-->
						</div>
					</div>

					<div class="form-group">
						<label for="c" class="col-sm-2 control-label">创建时间</label>
						<div class="col-sm-6">
							<input type="text" ng-model="deviceInfo.createTimeStr"  class="form-control" id="c" readonly>
						</div>
						<div class="col-sm-4"></div>
					</div>

				</form>

			</div>
			<div class="modal-footer">
				<a ng-click="saveDevice()" class="btn btn-default">保 存</a>
				<a ng-click="exitDevice()"  class="btn btn-default">取 消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<!-- 任意门弹框 -->
<div id="deviceDoorDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">开启任意门</h4>
			</div>
			<div class="modal-body">
                <p>注意：开启后使用完毕及时关闭。</p>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">域名</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="deviceDoor.domainId" ng-options="item.id as item.domainFull for item in domainNoBindList">
							</select>
						</div>
						<div class="col-sm-4">
						</div>
					</div>
					<div class="form-group">
						<label for="deviceName" class="col-sm-2 control-label">本地路径</label>
						<div class="col-sm-6">
							<input type="text" ng-model="deviceDoor.localPath" class="form-control" placeholder="D://">
						</div>
						<div class="col-sm-4">

						</div>
					</div>
                    <div class="form-group">
                        <label for="deviceDoorEnableCheckbox" class="col-sm-2 control-label" >状态</label>
                        <div class="col-sm-10">
                            <div class="switch">
                                <input id="deviceDoorEnableCheckbox" type="checkbox" checked />
                            </div>
                        </div>
                    </div>
				</form>
			</div>
			<div class="modal-footer">
				<a ng-click="submitDeviceDoor()" class="btn btn-default">确认绑定</a>
				<a ng-click="closeDeviceDoorDialog()"  class="btn btn-default">取消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 内网代理 弹框 -->
<div id="deviceProxyDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">开启内网代理</h4>
			</div>
			<div class="modal-body">
                <p>注意：外部端口占未启动自动绑定，还请手动映射。</p>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">外部端口</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="deviceProxy.domainId" ng-options="item.id as item.domainFull for item in domainNoBindList">

							</select>
						</div>
						<div class="col-sm-4">

						</div>
					</div>
					<div class="form-group">
						<label for="deviceName" class="col-sm-2 control-label">本地端口</label>
						<div class="col-sm-6">
							<input type="text" ng-model="deviceProxy.deviceProxyPort" class="form-control" placeholder="3000">
						</div>
						<div class="col-sm-4">

						</div>
					</div>
                    <div class="form-group">
                        <label for="deviceProxyEnableCheckbox" class="col-sm-2 control-label" >状态</label>
                        <div class="col-sm-10">
                            <div class="switch">
                                <input id="deviceProxyEnableCheckbox" type="checkbox" checked />
                            </div>
                        </div>
                    </div>
				</form>
			</div>
			<div class="modal-footer">
				<a ng-click="submitDeviceProxy()" class="btn btn-default">提交代理</a>
				<a ng-click="closeDeviceProxyDialog()"  class="btn btn-default">取消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- ip白名单 弹框 -->
<div id="whiteIpsDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">配置IP白名单</h4>
			</div>
			<div class="modal-body">
				<p>注意：配置ip白名单后，仅允许范围内ip访问设备的相关映射资源。</p>
				<form class="form-horizontal">
					<div class="form-group">
						<label for="deviceName" class="col-sm-2 control-label">ips</label>
						<div class="col-sm-9">
							<textarea ng-model="whiteIps.ips" rows="8" class="form-control" placeholder="请输入ip地址、cidr地址，使用分号间隔"></textarea>
						</div>
						<div class="col-sm-3">

						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a ng-click="submitWhiteIps()" class="btn btn-default">保存</a>
				<a ng-click="closeWhiteIpsDialog()"  class="btn btn-default">取消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- 创建p2p弹框 -->
<div id="createP2pMappingDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">创建端到端</h4>
			</div>
			<div class="modal-body">
				<p>注意：部分网络不支持P2P。特殊情况可调整MTU值。</p>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label">服务侧</label>
						<div class="col-sm-8">
							<div class="input-group">
								<select style="width: 260px" class="form-control" ng-model="entity.serverDeviceId" ng-options="item.id as item.name+'<'+item.deviceNo+'> '+item.intranetIp for item in list">

								</select>
								<input style="width: 90px" type="number" ng-model="entity.serverLocalPort" class="form-control" placeholder="端口">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">服务侧HOST</label>
						<div class="col-sm-8">
							<input type="text" ng-model="entity.serverLocalHost" class="form-control" placeholder="服务侧HOST">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">客户侧</label>
						<div class="col-sm-8">

							<div class="input-group">
								<select  style="width: 260px" class="form-control" ng-model="entity.clientDeviceId" ng-options="item.id as item.name+'['+item.deviceNo+'] '+item.intranetIp for item in list">

								</select>
								<input style="width: 90px" type="number" ng-model="entity.clientProxyPort" class="form-control" placeholder="端口">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">客户侧代理HOST</label>
						<div class="col-sm-8">
							<input type="text" ng-model="entity.clientProxyHost" class="form-control" placeholder="客户侧本地端口,例如12330">
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-3 control-label">备注</label>
						<div class="col-sm-8">
							<textarea type="text" ng-model="entity.remark" class="form-control" placeholder=""></textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="devicePeerEnableCheckbox" class="col-sm-3 control-label" >状态</label>
						<div class="col-sm-8">
							<div class="switch">
								<input id="devicePeerEnableCheckbox" type="checkbox" checked />
							</div>
						</div>
					</div>

					<a class="btn btn-link" role="button" data-toggle="collapse" ng-click="toggleConfig()"  >
						高级参数配置
					</a>
					<div class="collapse" id="collapseConfig">
						<div class="well" style="padding-left: 0; padding-right: 0">

							<div class="form-group">
								<label class="col-sm-3 control-label">MTU</label>
								<div class="col-sm-8">
									<input type="number" ng-model="entity.clientMtu" class="form-control" placeholder="默认：1350">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">KCP刷新周期</label>
								<div class="col-sm-8">
									<div class="input-group">
										<input type="number" ng-model="entity.configInterval" class="form-control" placeholder="默认：40">
										<div class="input-group-addon">毫秒</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="compressEnableCheckbox" class="col-sm-3 control-label" >压缩传输</label>
								<div class="col-sm-8">
									<div class="switch">
										<input id="compressEnableCheckbox" type="checkbox" checked />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">加密方式</label>
								<div class="col-sm-8">
									<div class="switch">
										<select class="form-control" ng-model="entity.configEncryption" ng-options="item.encrypt as item.encrypt +'  ['+item.desc+']' for item in encOptions">

										</select>
									</div>
								</div>
							</div>


						</div>
					</div>

				</form>

			</div>
			<div class="modal-footer">
				<a ng-click="submitP2pMapping()" class="btn btn-default">提交映射</a>
				<a ng-click="closeP2pMappingDialog()"  class="btn btn-default">取消</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->