<div id="metrics-page" class="console-page cs-subpage">
    <div ng-include="'view/console/partials/topbar.htm'"></div>

    <div class="cs-layout">
        <div ng-include="'view/console/partials/sidebar.htm'"></div>

        <main class="cs-main">
            <section class="cs-page-head">
                <div>
                    <h1>流量明细</h1>
                    <p>按通道查看流量使用明细与连接数据。</p>
                </div>
            </section>

            <section class="cs-content-card">
                <div class="cs-toolbar">
                    <div class="cs-toolbar-group">
                        <div class="cs-input-wrap">
                            <span class="cs-label">通道</span>
                            <select class="cs-select" ng-model="params.serverTunnelId" ng-options="item.id as item.name for item in tunnels"></select>
                        </div>
                        <button id="bindButton" ng-click="searchMetricsList()" type="button" class="cs-main-btn">搜索</button>
                    </div>
                </div>

                <div class="cs-table-wrap" ng-if="page.records && page.records.length > 0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="40">#</th>
                            <th width="100">时间</th>
                            <th width="140">通道</th>
                            <th width="200">设备</th>
                            <th width="80">隧道ID</th>
                            <th width="100">流量(MB)</th>
                            <th width="140">进/出情况</th>
                            <th width="120">链接数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in page.records">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{item.createDate}}</td>
                            <td>{{item.serverTunnelName}}</td>
                            <td><span class="label label-info">{{item.deviceNo}}</span></td>
                            <td>{{item.mappingId}}</td>
                            <td>{{item.flowStr}}</td>
                            <td>
                                <i class="fa fa-caret-down" style="color: #14b414"></i> {{item.bytesInStr}} /
                                <i class="fa fa-caret-up" style="color: #1489ff"></i> {{item.bytesOutStr}}
                            </td>
                            <td>{{item.link}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="cs-empty" ng-if="!page.records || page.records.length === 0">
                    暂无流量明细数据
                </div>

                <div class="text-center cs-pagination-wrap">
                    <ul id="pagination" class="pagination"></ul>
                </div>
            </section>
        </main>
    </div>
</div>
