<div id="orders-page" class="console-page cs-subpage">
    <div ng-include="'view/console/partials/topbar.htm'"></div>

    <div class="cs-layout">
        <div ng-include="'view/console/partials/sidebar.htm'"></div>

        <main class="cs-main">
            <section class="cs-page-head">
                <div>
                    <h1>我的订单</h1>
                    <p>查看订单记录、支付方式与状态。</p>
                </div>
            </section>

            <section class="cs-content-card">
                <div class="cs-table-wrap" ng-if="page.records && page.records.length > 0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="60">#</th>
                            <th width="170">订单号</th>
                            <th width="100">资源类型</th>
                            <th width="200">产品名称</th>
                            <th width="80">价格</th>
                            <th width="100">支付方式</th>
                            <th width="100">状态</th>
                            <th width="160">时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in page.records">
                            <th scope="row">{{$index + 1}}</th>
                            <td>{{item.orderNo}}</td>
                            <td>{{item.resourceTypeName}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.payAmount}}</td>
                            <td>{{item.payTypeName}}</td>
                            <td>
                                <span ng-if="item.status == 1" class="label label-success">{{item.statusName}}</span>
                                <span ng-if="item.status != 1" class="label label-default">{{item.statusName}}</span>
                            </td>
                            <td>{{item.createTime}}</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="cs-empty" ng-if="!page.records || page.records.length === 0">
                    暂无订单数据
                </div>

                <div class="text-center cs-pagination-wrap">
                    <ul id="pagination" class="pagination"></ul>
                </div>
            </section>
        </main>
    </div>
</div>
