<div style="margin-top:30px; "></div>
<div class="container domain">

	<div class="row">
		<div class="col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">首页</a></li>
				<li><a href="#/user/domain">我的域名</a></li>

			</ol>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="bs-example bs-example-tabs" >
				<ul id="domainTabs" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a ng-click="selectTab(2)" role="tab" data-toggle="tab">购买的域名</a></li>
					<li role="presentation" class=""><a ng-click="selectTab(1)" role="tab" data-toggle="tab">自定义域名</a></li>

					<li class="navbar-right" ng-show="tab === 1"><a href="" ng-click="openUserDomainDialog()" style="color: #d20c0c; font-weight: bold" >新增自定义域名</a></li>
					<li class="navbar-right" ng-show="tab === 2"><a href="#/user/domain/buy" style="color: #d20c0c; font-weight: bold" >购买域名</a></li>
				</ul>

				<div class="tab-content" style="padding: 20px">
					<!-- 自定义的域名 -->
					<div role="tabpanel" class="tab-pane " ng-class="{active: isSelected(1)}">
						<div>
							<table class="table table-hover">
								<thead>
								<tr>
									<th width="60">#</th>
									<th width="170">域名</th>
									<th width="200">创建时间</th>
									<th width="160">证书</th>
									<th width="160">证书到期时间</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="item in page.records">
									<th scope="row">{{$index + 1}}</th>
									<td>
										<a   >{{item.domain}}</a>
									</td>
									<td ng-bind="item.createTime"></td>
									<td> - </td>
									<td>{{item.createTime}}</td>
									<td>
										 <a href ng-click="openDomainCertDialog(item)" >管理证书</a>
										 <a href ng-click="deleteDomain(item)">删除</a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="text-center">
							<ul id="pagination" class="pagination"></ul>
						</div>

					</div>
					<!-- 购买的域名 -->
					<div role="tabpanel" class="tab-pane" ng-class="{active: isSelected(2)}">
						<div class="row">
							<div class="col-md-4" ng-repeat="item in list">
								<div class="item-wrap">
									<div class="row">
										<div class="col-xs-12">
											<div style="">
												<p class="item-text" style="font-size: 20px;line-height: 20px;">
													<span class="domain_leftline"></span>
													{{item.domainFull}}
												</p>
												<p class="item-text" style="color: #8c8c8c">
													<i class="fa fa-clock-o"></i> {{item.dueTime}}
													<span class="label label-danger" ng-show="item.packageRights">VIP权益</span>

												</p>

											</div>
										</div>
										<div class="col-xs-4">
											<a class="btn btn-default" href="#/user/domain/pay?domainId={{item.id}}"  >续费</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





	</div>


	<!-- 域名证书 弹框 -->
	<div id="domainCertDialog" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">配置域名证书</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">域名</label>
							<div class="col-sm-9">
								<div ng-bind="currentDomain.domain" class="form-control" ></div>
							</div>
							<div class="col-sm-3">

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">证书私钥</label>
							<div class="col-sm-9">
								<textarea ng-model="domainCertInfo.certKey" rows="8" class="form-control" placeholder="请输入证书私钥"></textarea>
							</div>
							<div class="col-sm-3">

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">PEM证书</label>
							<div class="col-sm-9">
								<textarea ng-model="domainCertInfo.certPem" rows="8" class="form-control" placeholder="请输入PEM证书"></textarea>
							</div>
							<div class="col-sm-3">

							</div>
						</div>
					</form>
					<p>注意：配置证书后，预计1分钟左右生效。</p>
				</div>
				<div class="modal-footer">
					<a ng-click="submitDomainCert()" class="btn btn-default">保存</a>
					<a ng-click="closeDomainCertDialog()"  class="btn btn-default">取消</a>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<!-- 用户域名 弹框 -->
	<div id="UserDomainDialog" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">新增自定义域名</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">说明</label>
							<div class="col-sm-9">
								<div class="form-control" style="height: 120px; font-weight: bold; color: #e53e3e">
 									新增自定义域名平台将验证域名的所有权，需要配置域名TXT解析记录
									<br/> 域名：<i style="color:#14b414;">accept_joggle</i>.xxx.com
									<br/>解析值：{{user.activateCode}}
									<br/>
									<p>注意：一般情况下配置TXT解析后，预计1分钟左右生效。</p>
								</div>
							</div>
							<div class="col-sm-3">

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">域名</label>
							<div class="col-sm-9">
								<input ng-model="userDomain.domain" class="form-control" placeholder="请输入您的域名" />
							</div>
							<div class="col-sm-3">

							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<a ng-click="submitUserDomain()" class="btn btn-default">保存</a>
					<a ng-click="closeUserDomainDialog()"  class="btn btn-default">取消</a>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div>



