<!-- Docs page layout -->
<style>
    .swiper {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    @media (min-width: 1200px) {
         .container {
            width: 1700px !important;  /* 或你想要的任何宽度 */
        }
    }
</style>
<div class="" id="index">
    <div class="jumbotron masthead">
        <div class="container" style="position: relative">
            <div class="row" style="  width: 100%; top: 7px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="position: relative; width: 100%; height: 400px; z-index: 0">
                                <div style="z-index: 11;  padding-bottom: 60px">
                                    <h1>Joggle</h1>
                                    <h2 class="site-title" ng-bind="res.t('home.banner.title')"></h2>
                                    <p class="masthead-button-links">
                                        <a class="btn btn-lg btn-primary btn-shadow" href="#/document" >立即阅读Joggle文档</a>
                                    </p>
                                    <p class="masthead-links">
                                        <a >免费、开源、多用户、多协议支持、跨平台</a>
                                    </p>
                                </div>
                                <div style="position: absolute;width: 100%; height: 400px;  z-index: 0">

                                    <div id="echarts_flow_hour2" style="width: 100%; height: 400px;  z-index: 0" >

                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div id="contain2er" style="width: 100%; height: 400px;  z-index: 0">

                                </div>
                                <div style="z-index: 1; position: absolute;top: 0px">
                                    <h3>Joggle全网流量[30天]</h3>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div id="echarts_flow_hour" style="width: 100%; height: 400px;  z-index: 0">

                                </div>
                                <div style="z-index: 1; position: absolute;top: 0px">
                                    <h3>Joggle全网流量[24小时]</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="counter">
                    <div class="counter-content">
                        <span class="counter-value" ng-bind="countInfo.userNum">0</span>
                        <h3 class="title">用户</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="counter">
                    <div class="counter-content">
                        <span class="counter-value" ng-bind="countInfo.deviceNum">0</span>
                        <h3 class="title">设备</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="counter">
                    <div class="counter-content">
                        <span class="counter-value" ng-bind="countInfo.deviceOnlineNum">0</span>
                        <h3 class="title">在线设备</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="counter">
                    <div class="counter-content">
                        <span class="counter-value" ng-bind="countInfo.domainNum">0</span>
                        <h3 class="title">域名</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="counter">
                    <div class="counter-content">
                        <span class="counter-value" ng-bind="countInfo.portNum">0</span>
                        <h3 class="title">端口</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="counter">
                    <div class="counter-content">
                        <span class="counter-value" ng-bind="countInfo.tunnelNum">0</span>
                        <h3 class="title">通道</h3>
                    </div>
                </div>
            </div>
        </div>

        <hr class="half-rule">
    </div>


    <div class="container index-textcenter">
        <h1 class="index-bullet-title" style="font-weight: bold">技术特点</h1>
        <div class="row index-textcenter">
            <div class="col-sm-3 col-xs-6">
                <div class="index-icon">
                    <img src="./resource/images/icon/icon1.png" alt="Joggle support" class="img-responsive">
                </div>
                <h3>免费、开源</h3>
                <p>Github下载最新的源代码</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="index-icon">
                    <img src="./resource/images/icon/icon2.png" alt="Responsive across devices" class="img-responsive">
                </div>
                <h3>灵活配置</h3>
                <p>提供强大图形界面配置</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="index-icon">
                    <img src="./resource/images/icon/icon3.png" alt="Components" class="img-responsive">
                </div>
                <h3>多平台支持</h3>
                <p>市面主流操作系统,Windows\Linux\MacOs</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="index-icon">
                    <img src="./resource/images/icon/icon4.png" alt="Components" class="img-responsive">
                </div>
                <h3>多协议支持</h3>
                <p>支持TCP、UDP、HTTP、HTTPS、P2P等协议</p>
            </div>
        </div>
    </div>



    <div class="container index-textcenter">
        <h1 class="index-bullet-title" style="font-weight: bold">核心技术优势</h1>

        <div class="row  ">
            <div class="col-sm-6 col-xs-6">
                <img style="width:700px" src="./resource/images/home/kcp.jpg" alt="Joggle kcp" class="img-responsive">
            </div>
            <div class="col-sm-6  col-xs-6">
                <div style=" padding-top: 140px">
                    <div>
                        <h1 style="font-weight: bold">端到端网络映射</h1>
                        <p style="font-size: 24px; color: #858585">深度集成KCP协议，全面实现可靠、稳定、高性能的端到端网络映射。 自主研发的P2P隧道技术，突破NAT限制，将两个局域网建立通讯桥梁，实现了无需走公网流量点对点链接的网络服务。</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!--    <div class="container index-textcenter" style="margin-top: 80px">-->
<!--        <h2 class="index-bullet-title">Joggle P2P隧道工作原理</h2>-->
<!--        <p class="lead">-->

<!--        </p>-->
<!--        <img src="./resource/images/register/joggle-p2p.png" alt="joggle p2p原理图" style="width: 100%; margin-top:3em" />-->
<!--        <br/>-->
<!--    </div>-->

    <div class="container index-textcenter" style="margin-top: 40px">
        <h2 class="index-bullet-title">Joggle 源代码下载</h2>

        <hr class="half-rule">
        <p class="lead">Joggle是开源免费的项目，它的代码托管、开发、维护都依赖 GitHub 平台。</p>
        <a href="https://github.com/joggle-cn/joggle" target="_blank" class="btn btn-outline btn-lg">查看 GitHub 项目主页</a>
    </div>

    <div style="background: rgb(249 250 251 / var(--tw-bg-opacity, 1));">
        <div class="container index-textcenter case" style="margin-top: 40px; padding-bottom: 40px">
            <h2 class="index-bullet-title">应用场景</h2>
            <div class="row index-textcenter" style="padding-top: 20px;">
                <div class="col-sm-3 col-xs-6  ">
                    <div class="sence">
                        <div class="index-icon-sence">
                            <img src="./resource/images/home/pc-remote.png" alt="远程桌面访问" class="img-responsive">
                        </div>
                        <h4>远程桌面访问</h4>
                        <p>实现流畅的远程桌面控制体验，适用于远程办公场景。</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6  ">
                    <div class="sence">
                        <div class="index-icon-sence" >
                            <img src="./resource/images/home/games.png" alt="游戏加速" class="img-responsive">
                        </div>
                        <h4>游戏加速</h4>
                        <p>降低游戏延迟，提供流畅的游戏体验。端到端加速。</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6  ">
                    <div class="sence">
                        <div class="index-icon-sence" >
                            <img src="./resource/images/home/sharefile.png" alt="文件共享" class="img-responsive">
                        </div>
                        <h4>文件共享</h4>
                        <p>快速可靠的文件传输服务，支持大文件断点续传。</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="sence">
                        <div class="index-icon-sence" >
                            <img src="./resource/images/home/monitor.png" alt="监控系统" class="img-responsive">
                        </div>
                        <h4>监控系统</h4>
                        <p>支持实时设备监控，精准把控流量情况，确保网络安全。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container index-textcenter case" style="margin-top: 40px">
        <h2 class="index-bullet-title">成功案例</h2>

        <hr class="half-rule">
        <p class="lead">Joggle是一款非常优秀的内网穿透平台软件，受到了非常多的成功企业或个人的支持，因此它成长的很茁壮！</p>
        <div class="row index-textcenter" style="padding-top: 20px;">
            <div class="col-sm-3 col-xs-6">
                <div class="index-icon">
                    <img src="./resource/images/logo/guoneishuzhi.png" alt="国能数智logo" class="img-responsive">
                </div>
                <h3><a href="http://www.ai-energy.cn/" target="_blank">国能数智</a></h3>
                <p>无人机地理信息系统领导者</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="index-icon" >
                    <img src="./resource/images/logo/sanqiminghuan.png" alt="三奇明环logo" class="img-responsive">
                </div>
                <h3><a href="http://www.58sqmh.cn/" target="_blank">三奇明环</a></h3>
                <p>周易文化社交传媒</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="index-icon" >
                    <img src="./resource/images/logo/wanwuhe.png" alt="万物盒logo" class="img-responsive">
                </div>
                <h3><a href="#" target="_blank">万物盒</a></h3>
                <p>盲盒类小项目</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="index-icon" >
                    <img src="./resource/images/logo/devuser.png" alt="个人开发者logo" class="img-responsive">
                </div>
                <h3><a href="https://github.com/joggle-cn/joggle" target="_blank">个人开发者</a></h3>
                <p>开发测试环境调试</p>
            </div>
        </div>
    </div>

    <!-- 隐藏功能-->
    <div class="container index-textcenter  " style="margin-top: 40px">
        <h2 class="index-bullet-title">实验性功能</h2>

        <hr class="half-rule">
        <p class="lead">Joggle实验，测试相关能力为后续新业务赋能。</p>

    <p>
<!--    	<a href="#/user/device" ng-show="user" class="btn btn-default" ng-bind="res.t('home.btn.device')"></a>-->
<!--    	<a href="#/user/domain" ng-show="user" class="btn btn-default" ng-bind="res.t('home.btn.domain')"></a>-->
    	<a href="#/flashchat/index" class="btn btn-default" ng-bind="res.t('home.btn.flashchat')"></a>
<!--    	<a href="#/wishwall/build" class="btn btn-default" ng-bind="res.t('home.btn.wishwall')"></a>-->
        <a href="#/app/video/index" class="btn btn-default" ng-bind="res.t('home.btn.onlinevideo')"></a>


      <!--<a href="#/user/device" class="btn btn-default" ng-bind="res.t('home.btn.download')"></a>-->
    </p>
  </div>
</div>

